.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    width: 100vw;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 45%;
    padding-left: 32px;
}

.hero-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.hero-image {
    position: relative;
    top: 100px;
    width: 75%;
    height: 90%;
}

.shadow {
    position: relative;
    top: 100px;
    width: 40%;
}

.hero-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    bottom: -70px;
}

.hero-heading {
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-align: "left";
    color: #81008C;
    margin-bottom: 12px;
}

.hero-content {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: "left";
    color: #282828;
}

.shop--button {
    margin-top: 24px;
    width: 150px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    background: #973499;
    margin-bottom: 24px;
}

.shop--button>a {
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: "left";
    color: #FFFFFF;
}

.hero-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 32px;
    gap: 12px;
    opacity: 0px;

}

.social {
    width: 32px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    color: #480054;
}

.separator {
    width: 100vw;
}